* {
  box-sizing: border-box;
}
:root {
  --accent-color: #fed136;
  --white: #fff;
  --black: #000;
  --grey: #777;
  --input-color: #bbb;
}
a {
  text-decoration: none;
}

body {
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.35px;
  color: var(--text-color);
}
.container {
  width: 964px;
  margin: 0 auto;
  padding: 0 15px;
  outline: solid rebeccapurple;
}

.header {
  margin-bottom: 109px;
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: var(--accent-color);
  font-family: "Bilbo Swash Caps", sans-serif;
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 1.3px;
}
.navigation {
}
.navigation-list {
  display: flex;
  gap: 65px;
}
.navigation-link {
  color: var(--accent-color);
  font-family: "montserrat", sans-serif;
  font-size: 14px;
  line-height: 2.92;
}
.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 1.87;
  letter-spacing: -1px;
  text-align: center;

  color: var(--black);
}
.white {
  color: var(--white);
}
.service-item {
  text-align: center;
}
.service p {
  font-family: "roboto slab", serif;
}
.service {
  margin-bottom: 119px;
}
.section-item-title {
  color: var(--black);
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: -0.45;
}
.service-title {
  font-size: 40px;
  line-height: 1.87;
  letter-spacing: -1px;
  text-align: center;
  color: var(--black);
  margin-bottom: 88px;
}
.service-list {
  display: flex;
  justify-content: space-between;
  gap: 52px;
}
.contact {
  background-color: var(--black);
  padding-top: 90px;
  padding-bottom: 115px;
}
.contact input::placeholder,
.contact textarea::placeholder {
  color: var(--input-color);
  text-transform: uppercase;
  font-weight: 700;
}
.contact-btn {
  color: var(--white);
  background-color: var(--accent-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  text-transform: uppercase;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.form-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}
.form-input,
.form-area {
  padding: 18px 20px;
  width: 400px;
}
